@import url('https://fonts.googleapis.com/css2?family=Rye&family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

.border-light-25 {
   @apply border border-kora-light1 border-opacity-10;
}
.dot-separator {
   @apply inline-block w-1 h-1 bg-kora-light1 rounded-full mx-2
}
.border-bottom {
   @apply border-b border-kora-light1 border-opacity-10
}
.image-cover {
   @apply w-full h-full object-cover
}

html {
   body {
      font-family: 'Ubuntu', sans-serif;
      position: relative;
      background: #292E39;
      a:focus {
         outline: none;
      }

      // &::-webkit-scrollbar {
      //    width: 12px;
      // }
      // &::-webkit-scrollbar-thumb {
      //    background: #3498DB;
      //    border-radius: 20px;
      //    border: 3px solid #313742;
      // }
      // &::-webkit-scrollbar-track {
      //    background: #313742;
      // }

      // override default autocomplete form input styles [in webkit browsers]
      // input:-webkit-autofill {
      //    box-shadow: 0 0 0 30px #292E39 inset !important;
      //    -webkit-box-shadow: 0 0 0 30px #292E39 inset !important;
      // }
      // remove default 'x' in input:search
      input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
      input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

      /* clears the 'X' from Chrome */
      input[type="search"]::-webkit-search-decoration,
      input[type="search"]::-webkit-search-cancel-button,
      input[type="search"]::-webkit-search-results-button,
      input[type="search"]::-webkit-search-results-decoration { display: none; }
   }
}